body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
    text-align: center;
    background-color: black;
}

.header {
    border-bottom: 1px solid seashell;
    display: block;
    width: 100%;
    top: 0px;
    height: 69px;
    background-color: black;
    position: fixed;
}

.logo {
    height: 50px;
    width: auto;
    float: left;
    padding-left: 10px;
}


.nav {
    margin: 0 auto; 
    float: right;
    height: 100%
}

.nav a {
    display: table;
    float: left;
    padding: 0px 20px;
    height: 100%;
}

.nav a li {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-decoration: underline;
    color: white;
}

.mission-container {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
}

.text-over {
    margin: auto;
    background-color: black;
    width: 100%;
}