body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
    text-align: center;
    background-color: black;
}

.header {
    border-bottom: 1px solid seashell;
    display: block;
    width: 100%;
    top: 0px;
    height: 69px;
    background-color: black;
    position: fixed;
}

.logo {
    height: 50px;
    width: auto;
    float: left;
    padding-left: 10px;
}


.nav {
    margin: 0 auto; 
    float: right;
    height: 100%
}

.nav a {
    display: table;
    float: left;
    padding: 0px 20px;
    height: 100%;
}

.nav a li {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-decoration: underline;
    color: white;
}

.mission-container {
    background-image: url("C:/Users/andre/Desktop/Coding/Projects/Tea Cozy/Images/img-mission-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
}

.text-over {
    margin: auto;
    background-color: black;
    width: 100%;
}


#featured {
    margin-top: 80px;
}

.trend-container {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.trend img {
    height: 200px;
    width: 300px;
    padding: 10px;

}

.banner {
    height: 500px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url('C:/Users/andre/Desktop/Coding/Projects/Tea Cozy/Images/img-locations-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.box-container {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box {
    height: 300px;
    padding: 20px;
    margin-bottom: auto;
    background-color: black;
    opacity: .8;
    flex-basis: 30%;
    box-sizing: border-box;

}

.contact {
    height: 200px;
}

footer {
    text-align: left;
    padding-left: 20px;
}